.App {
  font-size: 1.2em;
}

.header {
  font-size: 2em;
  min-height: 2em;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  background-color: #BC4C5B;
  color: white;
}

/* .contactHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
} */

.searchContainer {
  display: flex;
  /* max-width: 80%; */
  justify-content: center;
  align-items: center;
  gap: .25em;
  min-height: 2em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
}

.searchInput {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 8px #9E8E8C;
  min-width: 60%;
  min-height: 2em;
  margin: 1em;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  /* display:grid; */
}

.contactList {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
  /* min-width: 100%; */
  /* max-height: 100vh;
  overflow-y: auto; */
}

.contactRow {
  padding: 0.5em 2em;
  box-shadow: inset 0 -0.025em 0 rgb(240, 238, 238);
  flex-shrink: 0;
}

.contactCard {
  min-width: 20%;
  padding-right: 1em;
  border-left: solid;
  max-height: 100vh;
  position:sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.barHeader {
  min-height: 4em;
  background-color: #7b8db4;
  margin-bottom: -2.5em;
}

.contactExpanded {
  margin-top:1em;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.contactDetail {
  text-align: center;
  padding-bottom: 1em;
  border-bottom:solid rgb(209, 218, 226);
}

.contactListHeader {
  font-size:1.1em;
  padding-left: 0.5em;
}

.contactRecentBottom {
  border-bottom:solid rgb(209, 218, 226);
  padding-top: 1em;

  margin-bottom: 1em;
}

.contactDetailUserName {
  font-size: 0.9em;
}

.contactDetailName {
  font-size: 1.25em;
  text-align: center;
}

.contactIcons, .contactRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactRow:hover {
  background-color: rgb(179, 194, 210);
  cursor: pointer;
}

.contactActions {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

.contactIcons {
  min-width: 5%;
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
  gap: 1.5em;
}

.img {
  max-height: 4em;
}

.nameContents {
  display: flex;
  justify-content: space-between;
  min-width: 75%;
  padding-left: .75em;
  flex-direction: column;
}

/* .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.userName, .phoneNumber {
  font-size: 0.8em;
}

@media only screen and (min-width: 992px) {
  .contactHeader {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contactCardModal{
    display: none;
  }

  .ReactModalPortal{
    display:none;
  }
}

@media only screen and (max-width: 767px) {
  .contactList {
    min-width: 100%;
  }

  .contactStandard {
    display: none;
  }

  .contactRow {
    max-width: 100%;
  }

  .contactIcons {
    min-width: 2.2em;
    gap: 0.5em;
  }

  .contactCard {
    border: none;
  }

  .contactExpanded {
    /* font-size: 0.9em; */
    justify-content: flex-start;
    align-items: left;
  }
}